
p {
    font-size: 1.4rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin: 0;
}
.madeby {
    display: flex;
    flex-direction: column;

}
.roxy {
    font-size: 1rem;
    text-align: left;
    flex-direction: column;
    margin-top: 15px;
}
    .wave1, .wave2 {
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -12%;
}

.footer-layout {
    display: flex;
    margin: 0px 30px;
}

.logo {
    width: 80%;
    height: auto;
}

.image-footer {
    width: 90%;
    height: auto;
    border-radius: 100px 100px 0px 0px;
}

.logo-madeby {
    width: 150%
}

@media only screen and (max-width: 789px) {
    .image-footer, .footer-layout {
        display: flex;
        flex-direction: column;
        flex: 1;
        justify-content: center;
        align-items: center;
        margin-top: 20px
    }
    .madeby {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo {
        display: flex;
        width: 40%;
        height: auto;
        margin: 0 auto;
    }
    .roxy {
        margin-top: 5px;
    }

} 